.block-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

form > p {
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  border: 1px solid rgb(64, 63, 63);
  border-radius: 10px;
}

label {
  margin: 0 5px;
}

.span-item {
  font-size: 20px;
  color: #174f01;
}

input {
  margin-bottom: 5px;
}

.input-submit {
  width: 80px;
  height: 30px;
  border-radius: 2px;
  font-size: 17px;
  cursor: pointer;
}

input[type='text'],
input[type='date'],
select {
  border: 1px solid black;
}

section {
  width: 100%;
  padding: 5px 10px;
}

.img-file {
  width: 300px;
}

.block-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  border: 1px solid black;
  border-radius: 2px;
}


.made-cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.success-message {
  background-color: #61db31;
  position: absolute;
  width: 200px;
  height: 100px;
  position: absolute;
	z-index: 10;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 80%;
	border-radius: 5px;
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
}
